# Secretos / anomalías
/Assets/

# Assets públicos (subida manual)
/Sin Anomalias/

# Archivos locales
Config/config.json
Data/

# Compilaciones
___COMPILADO__/

# Python
__pycache__/
*.py[cod]

# Builder
__BUILDER__/
